<form action="/cars" method="post">
    <label for="makeModel">Make or Model:</label>
    <input type="text" id="makeModel" name="makeModel"> <br>
    <label for="price">Current Price:</label>
    <input type="text" id="price" name="price"> <br>
    <label for="miles">How many Miles:</label>
    <input type="text" name="miles" id="miles"> <br>
    <button type="submit">Add!</button>
</form>