@using CarDealership.Models;

<h1>Cars for Sale:</h1>

<ul>
    @foreach (Car car in Model)
    {    
        <li>@car.MakeModel</li>
            <ol>
                <li>@car.Price</li>
                <li>@car.Miles</li>
            </ol>
    }
</ul>

<a href="/cars/new">Add a new car.</a>