@using CarDealership.Models;

<h1>Cars for Sale:</h1>

<ul>
    @foreach (Car car in Model)
    {    
        <li>@car.MakeModel
            <ol>
                <li>$@car.Price</li>
                <li>@car.Miles miles</li>
            </ol>
        </li>
    }
</ul>

<a href="/cars/new">Add a new car.</a>